body{
    font-family: sans-serif;
}

#navbar{
    display: flex;
    width: 100%;
    border: 2px solid rgb(216, 21, 184);
    border-radius: 25px;
    justify-content: space-between;
    
}
a{
    text-decoration: none;
    color: blue;
}
#s_input{
    width: 60%;
    height: 30px;
    margin: auto;
    margin: 15px auto;
    border: 2px solid rebeccapurple;
    border-radius: 20px;
}
#results{
    text-align: center;
}
#results div img{
    width: 80%;
}

